server {
    # Port 80 is used for incoming http requests

    # The URL we want this server config to apply to
    server_name  ricotta-api.holeytriangle.com www.ricotta-api.holeytriangle.com;

    location / {
      proxy_pass http://127.0.0.1:9124;
    }
}
server {
    listen 80;
    listen [::]:80;
    server_name  ricotta-api.holeytriangle.com www.ricotta-api.holeytriangle.com;
}

