<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Language Learning Study App</title>
</head>
<body>
    <div id="loading" class="loading" style="display:none;">
        <div class="spinner"></div>
        Loading...
    </div>
    <div id="app">
        <button class="button primary" onclick="fetchSeenCards()">Study</button>
        <div class="new_words">
            <input type="text" id="description" placeholder="Learn words around this description"/>
            <button class="button secondary" onclick="fetchNewWords()">Learn</button>
        </div>
        <div id="word">-</div>
        <div id="options">
            <button>-</button>
            <button>-</button>
            <button>-</button>
            <button>-</button>
        </div>
        <div id="feedback">
            <p id="english"></p>
            <p id="sentenceLANG"></p>
            <p id="sentenceEN"></p>
        </div>
        <button id="next" class="button primary" onclick="nextWord()">Next</button>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
