<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Language Learning Study App</title>
</head>
<body>
    <div id="loading" class="loading" style="display:none;">
        <div class="spinner"></div>
        Loading...
    </div>
    <div id="app">
        <div class="card mb-2">
          <button class="button primary" onclick="fetchSeenCards()">Study</button>
          <div class="new_words">
              <input type="text" id="description" placeholder="Learn words around this description"/>
              <button class="button secondary" onclick="fetchNewWords()">Learn</button>
          </div>
        </div>
        
        <div class="card">
          <div id="word">-</div>
          <div id="options">
              <button>-</button>
              <button>-</button>
              <button>-</button>
              <button>-</button>
          </div>
          <div id="feedback">
              <p id="sentenceLANG"></p>
              <p id="sentenceEN"></p>
          </div>
          <button id="next" class="button primary" onclick="nextWord()">Next</button>

          <svg id="play-control-btn" width="63" height="63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
            <path id="border" fill="none" stroke="#3498db" stroke-width="1.5" stroke-miterlimit="10" d="M50,2.9L50,2.9C76,2.9,97.1,24,97.1,50v0C97.1,76,76,97.1,50,97.1h0C24,97.1,2.9,76,2.9,50v0C2.9,24,24,2.9,50,2.9z"/>
            <path id="bar" fill="none" stroke="#3498db" stroke-width="4.5" stroke-miterlimit="10" d="M50,2.9L50,2.9C76,2.9,97.1,24,97.1,50v0C97.1,76,76,97.1,50,97.1h0C24,97.1,2.9,76,2.9,50v0C2.9,24,24,2.9,50,2.9z" style="transition: all .3s;"/>
            <g id="pause">
              <g>
                <path fill="#3498db" d="M46.1,65.7h-7.3c-0.4,0-0.7-0.3-0.7-0.7V35c0-0.4,0.3-0.7,0.7-0.7h7.3c0.4,0,0.7,0.3,0.7,0.7V65 C46.8,65.4,46.5,65.7,46.1,65.7z"/>
                <path fill="#3498db" d="M61.2,65.7h-7.3c-0.4,0-0.7-0.3-0.7-0.7V35c0-0.4,0.3-0.7,0.7-0.7h7.3c0.4,0,0.7,0.3,0.7,0.7V65 C61.9,65.4,61.6,65.7,61.2,65.7z"/>
              </g>
            </g>
            <g id="play">
              <path fill="#3498db" d="M41.1,33.6l24.5,15.6c0.6,0.4,0.6,1.1,0,1.5L41.1,66.4c-0.7,0.5-1.8,0-1.8-0.7V34.4 C39.3,33.6,40.4,33.2,41.1,33.6z"/>
            </g>
          </svg>
        </div>
    </div>

    <form style="display:none;">
        <div>
          <label for="rate">Rate</label
          ><input type="range" min="0.5" max="2" value="1" step="0.1" id="rate" />
          <div class="rate-value">1</div>
          <div class="clearfix"></div>
        </div>
        <select id="voice-dropdown"></select>
    </form>


    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/voice-synthesis.js') }}"></script>
</body>
</html>
